---
---

@import "minima";


@font-face {
    font-family: "MamiFont";
    src: url("https://gitlab.com/nachootal/cumplea-os/raw/master/css/Mami-Regular.otf") format("opentype");
    src: url("https://gitlab.com/nachootal/cumplea-os/raw/master/css/Mami-Regular.ttf") format("truetype");
}

body {
  font-family: 'MamiFont';
}

.post-link, .post-title {
  text-transform: uppercase;
}
